<h2>Meine Authoren</h2>


<div>
  <label>Vorname:
    <input #surename />
    </label>
  <label>Nachnahme
    <input #givenname>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(surename.value, givenname.value); surename.value=''; givenname.value=''">
    add
  </button>
</div>

<ul class="authors">
  <li *ngFor="let author of authors">
    <a routerLink="/authors/{{author.id}}">
      {{author.surename}} {{author.givenname}}
    </a>
    <button class="delete" title="delete author"
      (click)="delete(author)">x</button>
  </li>
</ul>

