

<div class="container book">
    <h1>Buch Details</h1>
    <form #bookForm="ngForm" >
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="book.name" type="text" class="form-control" name="bookName" id="name" required>
      </div>

      <div class="form-group">
        <label for="author">Author</label>
       <!-- <select class="form-control" id="author" [(ngModel)]="book.authors" multiple name="author" formControlName="authorControl" required >
            <option style="display:none"></option>
            <option  *ngFor="let author of authors" [value]="author">{{author.firstname}}, {{author.lastname}}</option>
          </select> -->
      </div>

      <button type="submit" class="btn btn-success" (click)="goBack()">Zurück</button>
      <button type="submit" class="btn btn-success" (click)="save()">Speichern</button>
 
    </form>
</div>
